@charset "utf=8";
*{
    margin: 0;
    padding: 0;
}
a{
    color: inherit;
    text-decoration: none;
}

li{
    list-style: none;
}
.item {
    width: 500px;
    height: 500px;
    border: 1px solid #e00505 ;
    margin: 50px auto;
    position: relative;
    overflow: hidden; /* 자식들 숨기기 */
}
.item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.item .text{
    background-color: #ededed79;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 30px;
    transform: translateY(100%);
    /* 컨텐츠 이동, 회전, 기울기 등 효과를 나타냄 
    퍼센테이지로 사용, 텍스트 위치값을 이동시킴*/
    transition: 0.7s;
}
.item:hover .text{
    transform: translateY(0);
    /* transform: translate + hover이랑 같이 사용 
    (마우스를 가져다 댈 곳 에 작성, 움직일 영역 작성) */
}