@charset "utf=8";
*{
    margin: 0;
    padding: 0;
}
a{
    color: inherit;
    text-decoration: none;
}
li{
    list-style: none;
}
.header{
    height: 100px;
    background-color: rgba(240, 71, 255, 0.479);
    text-align: center;
    line-height: 100px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    /* 레이어 아래에 깔린 헤더를 위로 올릴 수 있음
    포지션이 있을때만 사용 사능  (레이어는 html 제일 아래부분이 제일 위에 온다)
    z-index 위아래 순서 변경 , 음수+양수 가능*/
}
.main_visual{
    height: 500px;
    position: relative;
}
.main_visual img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.main_visual div{
    background-color: plum;
    width: 1280px;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
}