@charset "utf=8";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: inherit;
}
li{
    list-style: none;
}

.header{
    height: 100px;
    background-color: #F986BD;
}
.header .inner{
    width: 1500px;
    margin: 0 auto;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.header .inner .util{
    display: flex;
    gap: 15px;
}

.header .inner .util img{
    object-fit: cover;
}

.main_visual img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.header .inner .nav .gnb{
    display: flex;
    height: 100%;
    background-color: #ffffff;
}
.header .inner .nav .gnb > li .depth01{
    padding: 0 80px;
    line-height: 100px;
}
.header .inner .nav .gnb > li{
    position: relative;
}
.header .inner .nav .gnb > li .depth02{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 100px;
    left: 0;
    text-align: center;
    
}
.header .inner .nav .gnb > li .depth02 li{
    padding: 10px;
    background-color: #ffffff;
}
