@charset "utf=8";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
}
body{
    color: black;
}

.text_wrap{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.text_wrap p{
    width: 300px;
    border: 1px solid #333;
}

.text_wrap p:nth-child(1){
    /* 이텔릭체 적용 */
    /* normal : 기본값  */
    font-style: italic;
}

.text_wrap p:nth-child(2){
    /* 텍스트 선 표현 */
    /* none : 기본값 (선없음) */
    /* text-decoration: underline; 아래 밑줄 */
    /* text-decoration: line-through; 취소선, 가장많이 사용
    상품몰 할인 가격 */
    text-decoration: overline; /* 밑줄라인 */
}

.text_wrap p:nth-child(3){
    /* 텍스트 정렬 방향 */
    /* left : 기본값 
    right : 오른쪽 정렬
    center : 중앙 */
    text-align: justify;/* 텍스트의 양끝정렬 : 양끝 공간없이 정렬 하는 방식 */

}
.text_wrap p:nth-child(4){
    /* 텍스트 줄(행간) 간격  */
    line-height: 1.5;
    /* 폰트크기(16) X 1.8 => 28.8px의 행간간격 */
    /* auto로 할경우 텍스트가 많으면 간격이 좁게 나옴
    보통 1.2 ~ 1.8 사용 /  글자 줄 수가 많으면 값이 커짐*/
}

.text_wrap p:nth-child(5){
    /* 텍스트 자간 간격 */
    /* 음수, 양수 작성 가능*/
    letter-spacing: auto;/* 글자 사이 간격 조절  */
    /* word-spacing: 2px; 단어사이 간격 조절 */
}
.text_wrap p:nth-child(6){
    /*텍스트 줄바꿈 처리 */
    /* break-all : 기본값 영문기본값
    keep-all : 단어로 줄바꿈 국문 기본값*/
    word-break: keep-all;
}
.text_wrap p:nth-child(7){
    /* 텍스트 세로 작성 */
    /* vertical -rl : 오늘쪽으로 세로작성
        vertical -lr : 왼쪽에서 세로작성
     */
    writing-mode:vertical-rl ;
}
.text_wrap p:nth-child(8){
    /* 텍스트 줄바꿈 안되도록 설정 */
    white-space : nowrap;/* 한줄로 나열 */
}



