@charset "utf=8";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
}


/* 반응형 헤더 기본 작성 공식*/
.mobile{
    display: none;
}

.header{
    height: 100px;
    border-bottom: 1px solid #333;
}

.header .inner{
    max-width: 1280px;
    width: calc(100% - 40%);
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between; 
}


/* logo 위치잡기 */
.header .inner .logo{
    height: 50px;

}
.header .inner .logo a{
    display: block;
    height: 100%;
    /* a 태그도 logo가 가지고 있는 height값이랑 동일하게 만들어 줌
    =  display: block */
}
.header .inner .logo a img{
    height: 100%;
    /* 이미지 크기에 맞춰서 사용하려면 높이만 맞춰주면 됨
    넓이까지 하면 이미지가 짤리는 경우가 있음 */
}


/* 네비게이션/ 1차메뉴, 2차메뉴 위치 잡기 + 2차메뉴 숨기기*/
.header .inner .pc_nav .gnb{
    display: flex;
}
.header .inner .pc_nav .gnb > li{
    position: relative;
}
.header .inner .pc_nav .gnb > li .depth01{
    line-height: 100px;
    /* 일반 height를 사용하려면 위 상단 모든 부모값에 작성을 해야되서
     효율이 떨어지기 때문에 영역을 잡기 위해서는 lien-height 를 사용해야한다 */
    padding: 40px 30px;
    /* gap 을 사용하게 되면 
    사이간격은 띄워지나 2차 메뉴들 영역이 좁아짐 */
}

.header .inner .pc_nav .gnb > li .depth02{
    width: 100%;/* 2차 메뉴 영역 넓히기 */
    position: absolute;
    top: 100px;
    left: 0;
    text-align: center;
    display: none;
}

.header .inner .pc_nav .gnb > li .depth02 li a{
    padding: 10px 0;
    /* a태그가 있다면 링크가 가지고 있는 공간을 늘려줘야 함 */
    display: block;
}


/* 1차메뉴에 마우스 올리면 2차메뉴 나오게 하기 */
.header .inner .pc_nav .gnb > li:hover .depth01{
    background-color: wheat;
    border-radius: 50px;
    /* 1차메뉴에 마우스 올렸을때 나오는 효과 적용 */
}

.header .inner .pc_nav .gnb > li:hover .depth02 {
    background-color: bisque;
    display: block;
    /* 1차 메뉴에 마우스 올렸을때 숨겨놓은 2차메뉴 보이게 설정 */
}

/* 화면 크기 1024px 이하 일떄 나타나는 헤더형태 (모바일) */
@media screen and (max-width:1024px){
    .pc{
        display: none;
    }
    .mobile{
        display: block;
    }

    .header .inner .mobile_nav{
        width: 100%;
        height: 100%;
        background-color: violet;
        position: fixed;
        left: 100%;/* 눈에 안보이도록 화면 밖으로 배치 */
        top: 100px;
        padding: 50px;
        transition: 0.7s;
    }
    /* 자바스크립트에서 클래스명 axtive추가  */
    .header .inner .mobile_nav.active {
        left: 0;
    }
    /* 스크립트 스타일 끝 */

    .header .inner .mobile_nav .gnb > li{
        border-bottom: 1px solid #333;
    }
    .header .inner .mobile_nav .gnb > li .depth01 {
        font-size: 20px;
        font-weight: bold;
        display: block;
        padding: 20px 0;
    }
    .header .inner .mobile_nav .gnb > li .depth02 {
        display: none;
    }
    .header .inner .mobile_nav .gnb > li .depth02 li a{
        display: block;
        padding: 10px 0;
    }

    .header .inner .menu_btn{
        height: 30px;
    }

    .header .inner .menu_btn img{
        height: 100%;
    }
        
}